layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center ""
                format_right  "{pipe_zjstatus_hints}#[bg=magenta,fg=black,bold] {session} "
                format_space  ""
                pipe_zjstatus_hints_format "#[fg=white,bold] {output} "
                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=white]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_locked      "#[bg=magenta,fg=black,bold]  LOCK "
                mode_normal      "#[bg=green,fg=black,bold]  NORMAL "
                mode_resize      "#[bg=red,fg=black,bold]  RESIZE "
                mode_pane        "#[bg=bright_blue,fg=black,bold]  PANE "
                mode_move        "#[bg=magenta,fg=black,bold]  MOVE "
                mode_tab         "#[bg=blue,fg=black,bold]  TAB "
                mode_scroll      "#[bg=bright_white,fg=black,bold]  SCROLL "
                mode_search      "#[bg=yellow,fg=black,bold]  SEARCH "
                mode_entersearch "#[bg=yellow,fg=black,bold]  ENTER SEARCH "
                mode_renametab   "#[bg=cyan,fg=black,bold]  RENAME TAB "
                mode_renamepane  "#[bg=cyan,fg=black,bold]  RENAME PANE "
                mode_session     "#[bg=red,fg=black,bold]  SESSION "
                mode_tmux        "#[bg=bright_white,fg=black,bold]  TMUX "

                tab_active              "#[bg=cyan,fg=black,bold] {index} {name} {floating_indicator} "
                tab_active_fullscreen   "#[bg=cyan,fg=black,bold] {fullscreen_indicator} {index} {name} "
                tab_active_sync         "#[bg=cyan,fg=black,bold] {sync_indicator} {index} {name} "

                tab_normal              "#[fg=bright_black,bold] {index} {name} {floating_indicator}"
                tab_normal_fullscreen   "#[fg=bright_black,bold] {fullscreen_indicator} {index} {name}  "
                tab_normal_sync         "#[fg=bright_black,bold] {sync_indicator} {index} {name} "

                tab_separator " "

                tab_sync_indicator       "󰓦"
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   " 󰹙 "

                tab_rename              "#[bg=blue,fg=black,bold] {index} {name} {floating_indicator} "

                tab_display_count         "9"
                tab_truncate_start_format "#[fg=yellow]  +{count}  "
                tab_truncate_end_format   "#[fg=yellow]   +{count} "
            }
        }
    }
}
